
:host {
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  border-top: 1px lightgrey solid;


  ::ng-deep button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: steelblue;
    color: white;
    cursor: pointer;
  }
}
